In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [42]:
s1 = pd.Series(np.random.randn(6),index=list('abcdef'))
s1

a    1.007265
b   -1.895015
c   -0.568538
d    1.186564
e    1.738516
f    0.218410
dtype: float64

In [43]:
s1.loc['c':]

c   -0.568538
d    1.186564
e    1.738516
f    0.218410
dtype: float64

In [44]:
s1.loc['c':] = 0
s1

a    1.007265
b   -1.895015
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

In [45]:
df1 = pd.DataFrame(np.random.randn(6,4),
                    index=list('abcdef'),
                    columns=list('ABCD'))
df1

          A         B         C         D
a -0.535161 -0.852019 -0.961721 -0.076639
b -0.835961 -0.143506  1.670356  0.366774
c -0.815095  0.742974 -1.853795  0.985831
d  0.319693 -1.488151 -0.253415 -0.497409
e  1.796213  0.052492 -0.640165  1.435559
f  0.131985 -0.240618 -0.229276  0.375636

In [46]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a -0.535161 -0.852019 -0.961721 -0.076639
b -0.835961 -0.143506  1.670356  0.366774
d  0.319693 -1.488151 -0.253415 -0.497409

In [47]:
df1.loc['d':, 'A':'C']

          A         B         C
d  0.319693 -1.488151 -0.253415
e  1.796213  0.052492 -0.640165
f  0.131985 -0.240618 -0.229276

In [49]:
df1.loc[:, df1.loc['b'] > 0]

          C         D
a -0.961721 -0.076639
b  1.670356  0.366774
c -1.853795  0.985831
d -0.253415 -0.497409
e -0.640165  1.435559
f -0.229276  0.375636

In [ ]:
# Selection by Position

In [50]:
s1 = pd.Series(np.random.randn(5), index=list(range(0,10,2)))
s1

0    0.497077
2    0.631276
4   -0.329306
6    0.261448
8    1.424401
dtype: float64

In [51]:
s1.iloc[:3]

0    0.497077
2    0.631276
4   -0.329306
dtype: float64

In [52]:
df1 = pd.DataFrame(np.random.randn(6,4),
                    index=list(range(0,12,2)),
                    columns=list(range(0,8,2)))
df1

           0         2         4         6
0  -0.976856 -1.484401 -0.495684  0.937664
2  -0.146608  0.566024  1.725276 -0.871505
4   1.384695  0.305954  0.258637  0.339843
6  -0.853051 -0.447261 -0.728524  0.658179
8   1.226686  1.144551 -0.110254 -0.930526
10 -0.895254  0.187056 -0.085610  1.036287

In [53]:
df1.iloc[1:5, 2:4]     # df1.iloc[:3]

          4         6
2  1.725276 -0.871505
4  0.258637  0.339843
6 -0.728524  0.658179
8 -0.110254 -0.930526

In [54]:
df1.iloc[[1, 3, 5], [1, 3]]

           2         6
2   0.566024 -0.871505
6  -0.447261  0.658179
10  0.187056  1.036287

In [ ]:
# Creating Tuples

In [5]:
#Way 1
data = Series(np.random.randn(10),
            index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'], 
                   [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
data

a  1   -0.017385
   2    0.845551
   3    2.067566
b  1   -0.013978
   2    1.598399
   3   -1.621697
c  1    0.241253
   2    2.202698
d  2    0.959801
   3   -0.710303
dtype: float64

In [6]:
# Way 2
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [7]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [8]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       0.855034
       two      -0.301401
baz    one      -0.745706
       two      -1.499613
foo    one       0.836716
       two       0.955665
qux    one       0.331337
       two       1.736516
dtype: float64

In [9]:
# Way 3
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
pd.MultiIndex.from_product(iterables, names=['first', 'second'])

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [ ]:
# Get index labels

In [6]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [10]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [11]:
index.get_level_values('second')

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [ ]:
#Accessing elements

In [7]:
data['b']

1   -0.013978
2    1.598399
3   -1.621697
dtype: float64

In [8]:
data['b':'c']

b  1   -0.013978
   2    1.598399
   3   -1.621697
c  1    0.241253
   2    2.202698
dtype: float64

In [9]:
data.ix[['b', 'd']]

b  1   -0.013978
   2    1.598399
   3   -1.621697
d  2    0.959801
   3   -0.710303
dtype: float64

In [10]:
data[:, 2]

a    0.845551
b    1.598399
c    2.202698
d    0.959801
dtype: float64

In [13]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.848409 -0.007185 -1.085128  0.154201 -0.009436 -0.728016  0.840369
B      -0.551502  0.886577  0.374568  0.180951 -0.193640  0.985818 -0.814015
C       0.453581  0.813444  0.448218  0.807993  0.734056  0.112465  1.694429

first
second       two
A      -1.492100
B      -2.504633
C       0.845797

In [14]:
df['bar', 'one']    # df['bar']['one']

A   -0.848409
B   -0.551502
C    0.453581
Name: (bar, one), dtype: float64

In [15]:
df.columns

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [11]:
# Tranforming to DF
data.unstack()

          1         2         3
a -0.017385  0.845551  2.067566
b -0.013978  1.598399 -1.621697
c  0.241253  2.202698       NaN
d       NaN  0.959801 -0.710303

In [12]:
data.unstack().stack()

a  1   -0.017385
   2    0.845551
   3    2.067566
b  1   -0.013978
   2    1.598399
   3   -1.621697
c  1    0.241253
   2    2.202698
d  2    0.959801
   3   -0.710303
dtype: float64

In [ ]:
# Data alignment and using reindex

In [16]:
s

first  second
bar    one       0.855034
       two      -0.301401
baz    one      -0.745706
       two      -1.499613
foo    one       0.836716
       two       0.955665
qux    one       0.331337
       two       1.736516
dtype: float64

In [17]:
s + s[:-2]     # s + s[::2]

first  second
bar    one       1.710067
       two      -0.602802
baz    one      -1.491412
       two      -2.999226
foo    one       1.673432
       two       1.911331
qux    one            NaN
       two            NaN
dtype: float64

In [ ]:
# Creating MultiIndex

In [13]:
frame = DataFrame(np.arange(12).reshape((4, 3)), 
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [14]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [15]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### Reordering and sorting levels

In [17]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [16]:
frame.swaplevel('key1', 'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [18]:
frame.sortlevel(1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [19]:
frame.sortlevel(0)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [20]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [21]:
frame.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### Using a DataFrame's Columns

In [2]:
frame = DataFrame({'a': range(7), 'b': range(7, 0, -1),
    'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
    'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [3]:
frame2 = frame.set_index(['c', 'd'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [4]:
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [5]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

In [ ]:
# Advanced Indexing

In [18]:
df = df.T
df

                     A         B         C
first second
bar   one    -0.848409 -0.551502  0.453581
      two    -0.007185  0.886577  0.813444
baz   one    -1.085128  0.374568  0.448218
      two     0.154201  0.180951  0.807993
foo   one    -0.009436 -0.193640  0.734056
      two    -0.728016  0.985818  0.112465
qux   one     0.840369 -0.814015  1.694429
      two    -1.492100 -2.504633  0.845797

In [19]:
df.loc['bar']

               A         B         C
second
one    -0.848409 -0.551502  0.453581
two    -0.007185  0.886577  0.813444

In [20]:
df.loc['bar', 'two']

A   -0.007185
B    0.886577
C    0.813444
Name: (bar, two), dtype: float64

In [21]:
df.loc['baz':'foo']

                     A         B         C
first second
baz   one    -1.085128  0.374568  0.448218
      two     0.154201  0.180951  0.807993
foo   one    -0.009436 -0.193640  0.734056
      two    -0.728016  0.985818  0.112465

In [22]:
df.loc[('baz', 'two'):('qux', 'one')]  # df.loc[('baz', 'two'):'foo']

                     A         B         C
first second
baz   two     0.154201  0.180951  0.807993
foo   one    -0.009436 -0.193640  0.734056
      two    -0.728016  0.985818  0.112465
qux   one     0.840369 -0.814015  1.694429

In [23]:
df.xs('one', level='second')

              A         B         C
first
bar   -0.848409 -0.551502  0.453581
baz   -1.085128  0.374568  0.448218
foo   -0.009436 -0.193640  0.734056
qux    0.840369 -0.814015  1.694429

In [24]:
df = df.T
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.848409 -0.007185 -1.085128  0.154201 -0.009436 -0.728016  0.840369
B      -0.551502  0.886577  0.374568  0.180951 -0.193640  0.985818 -0.814015
C       0.453581  0.813444  0.448218  0.807993  0.734056  0.112465  1.694429

first
second       two
A      -1.492100
B      -2.504633
C       0.845797

In [25]:
df.xs('one', level='second', axis=1)

first       bar       baz       foo       qux
A     -0.848409 -1.085128 -0.009436  0.840369
B     -0.551502  0.374568 -0.193640 -0.814015
C      0.453581  0.448218  0.734056  1.694429

In [26]:
df.xs(('one', 'bar'), level=('second', 'first'), axis=1)

first        bar
second       one
A      -0.848409
B      -0.551502
C       0.453581

In [27]:
# Alignment with reindexing

In [28]:
midx = pd.MultiIndex(levels=[['zero', 'one'], ['x','y']],
        labels=[[1,1,0,0],[1,0,1,0]])
df = pd.DataFrame(np.random.randn(4,2), index=midx)
df

               0         1
one  y -0.238170  2.026756
     x  0.303825  1.004036
zero y  1.707310  0.225596
     x  1.255401 -1.477918

In [29]:
df2 = df.mean(level=0)
df2

             0         1
zero  1.481355 -0.626161
one   0.032828  1.515396

In [30]:
df2.reindex(df.index, level=0)

               0         1
one  y  0.032828  1.515396
     x  0.032828  1.515396
zero y  1.481355 -0.626161
     x  1.481355 -0.626161

In [33]:
df_aligned, df2_aligned = df.align(df2, level=0)
df_aligned

               0         1
one  y -0.238170  2.026756
     x  0.303825  1.004036
zero y  1.707310  0.225596
     x  1.255401 -1.477918

In [ ]:
# Sorting a MultiIndex

In [34]:
s = pd.Series(np.random.randn(8), index=pd.MultiIndex.from_tuples(tuples))
s

bar  one   -0.267115
     two    1.400371
baz  one   -1.210110
     two    0.220313
foo  one    0.956061
     two    0.567943
qux  one    0.880666
     two   -1.487250
dtype: float64

In [35]:
s.sort_index()   #s.sort_index(level=0)

bar  one   -0.267115
     two    1.400371
baz  one   -1.210110
     two    0.220313
foo  one    0.956061
     two    0.567943
qux  one    0.880666
     two   -1.487250
dtype: float64

In [37]:
s.sort_index(level=1)

bar  one   -0.267115
baz  one   -1.210110
foo  one    0.956061
qux  one    0.880666
bar  two    1.400371
baz  two    0.220313
foo  two    0.567943
qux  two   -1.487250
dtype: float64

In [38]:
s.index.set_names(['L1', 'L2'], inplace=True)
s.sort_index(level='L2')

L1   L2
bar  one   -0.267115
baz  one   -1.210110
foo  one    0.956061
qux  one    0.880666
bar  two    1.400371
baz  two    0.220313
foo  two    0.567943
qux  two   -1.487250
dtype: float64

In [41]:
df.T

        one                zero
          y         x         y         x
0 -0.238170  0.303825  1.707310  1.255401
1  2.026756  1.004036  0.225596 -1.477918

In [39]:
df.T.sort_index(level=1, axis=1)

       zero       one      zero       one
          x         x         y         y
0  1.255401  0.303825  1.707310 -0.238170
1 -1.477918  1.004036  0.225596  2.026756